* {
    margin: 0;
	padding: 0;
	font-size: 62.5%;
}

#header {
	background-color: #29BDE0;
	height: 40px;
	width: 100%;
	position: fixed;
}

.header_Left {
	display: block;
	float: left;
	width: 35px;
	height: 35px;
	background-image: url(./images/page.png);
	background-repeat: no-repeat;
	margin: 10px 0 0 12px;
}

.pageLeft {
	background-position: 0 0;
}

.header_Middle {
    position: absolute;
	left: 50%;
	width: 35px;
	margin-left: -20px; 
    height: 30px;
    background-color: #29BDE0;
    word-break: break-word;
    text-align:center;
    padding: 10px 5px 0 5px;
	font-weight: bold;
}

.header_Middle span {
	font-size: 16px;
}

.header_Right span {
	display: block;
	float: right;
	width: 20px;
	height: 20px;
	background-image: url(./images/page.png);
	background-repeat: no-repeat;
	margin: 10px 10px 0 10px;
}

.pageRight {
	background-position: -53px -3px;
}

#top {
	background-color: #B9E9F5;
	height: 50px;
	width: 100%;
	position: fixed;
	top: 40px;
}

.prompt p {
	display:block;
	line-height: 34px;
	text-align: left;
	font-size: 15px;
	padding: 6px 2px 15px 25px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-bottom: -10px;	
}

.propt {
	padding-top: 5px;
	height: 30px;
	background-color: #29BDE0;
}

#triangle-down {
	width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #B9E9F5;
    margin-left: 43px;
	position: fixed;
	top: 85px;
	left: 10px;
}

.audioImg span {
	position: fixed;
	top: 43px;
	right: 0;
	width: 35px;
	height: 35px;
	background-image: url(./images/page.png);
	background-repeat: no-repeat;
	margin: 10px 0 0 60px;	
}

.pageAudio {
	background-position: 0 -100px;
}

.smallsmall {
	position: fixed;
	top: 43px;
	right: 0;	
}

.littlePropt {
	display:block;
	line-height: 30px;
	text-align: left;
	font-size: 13px;
	padding: 0 2px 10px 43px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;	
}

#main {
	padding-top: 130px;
	background-color: #29BDE0;
	margin-bottom: 80px;
	border-bottom: 10px solid #29BDE0;	
}

.box {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.item {
	width: 90px;
	height: 130px;
	margin: 10px 10px 15px 10px;
}

.itemTop {
	width: 84px;
	height: 84px;
	background-color: #F5C97B;
	border: 3px solid #FFF;
	border-bottom: 0;
}

.itemTop span {
	display:block;
	line-height: 34px;
	text-align: center;
	font-size: 20px;
	font-weight: 700;
	padding: 23px 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;		
}

.item:hover .itemTopDown, a {
	display: block;
	width: 88px;
    height: 20px;
	float: left;
	background-image: url(./images/page02.png);
	background-repeat: no-repeat;
}

.itemTopDown {
	display: none;
	margin-top: 106px;
}

.itemTopDown li {
	list-style-type: none;	
}

.itemBottom {
	width: 84px;
	height: 19px;
	background-color: #83B09A;
	border: 3px solid #FFF;
	border-top: 0;	
}

.itemBottom span {
	display:block;
	line-height: 19px;
	text-align: center;
	font-size: 15px;
	color: #FFF;
	padding: 1px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;		
}

.item a:link,
.item a:visited {
	color: #565656;
	border-bottom: none;
	text-decoration:none;
}

#footer {
	height: 80px;
	width: 100%;
	background-color: #29BDE0;
	position: fixed;
	bottom: 0;
}

.vote span {
	font-size: 25px;
	color: #FFF;
}

.voteButton {
	background-color: #FBB435;
    word-break: break-word;
    text-align:center;
    padding: 15px 20px;
    width: 80%;
    margin: 2% 10%;
    font-size: 25px;
	color: #FFF;
}