* {
    margin: 0;
	padding: 0;
	font-size: 62.5%;
}

#header {
	background-color: #29BDE0;
	height: 40px;
	width: 100%;
	position: fixed;
}

.home {
	display: block;
	float: left;
	width: 35px;
	height: 35px;
	background-image: url(./images/home.png);
	background-repeat: no-repeat;
	margin: 10px 0 0 12px;	
}

.home01Img {
	background-position: 0 0;
}

#rightTag {
	display: block;
	position: fixed;
	z-index: 100;
	top: 50%;
	right: 0;
	width: 25px;
	height: 38px;
	background-image: url(./images/home.png);
	background-repeat: no-repeat;
	margin: 10px 0 0 12px;	
}

#rightTag {
	background-position: -50px 0;
}

#main {
	padding: 40px 25px 10px;
	background-color: #F0F0F0;	
}

.topTitle {
	height: 60px;
	border: 10px solid #F0F0F0; 
	background-color: #FFF;
}

.topTitle span {
	display:block;
	line-height: 60px;
	text-align: center;
	font-size: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.home02Img {
	display: block;
	float: right;
}

.rightClick {
	display: block;
	float: right;
	margin: -60px 10px 30px 70px;
}

.rightClick span {
	color: #9A9A9A;
}

#content {
	background-color: #FFF;
	border: 10px solid #F0F0F0;
	border-top: 0;
}

.title span {
	display:block;
	width: 100%;
	line-height: 40px;
	text-align: center;
	font-size: 17px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;	
}

.bigEdition span {
	display:block;
	line-height: 70px;
	text-align: center;
	font-size: 16px;
	background-color: #29BDE0;
	border: 10px solid #FFF;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;	
}

.edition a:link,
.edition a:visited {
	color: #FFF;
	border-bottom: none;
	text-decoration:none;
	font-size: 16px;
}

.topTitle a:link,
.topTitle a:visited {
	color: #9A9A9A;
	border-bottom: none;
	text-decoration:none;
	font-size: 20px;
}

.onlineNumber span {
	display:block;
	line-height: 24px;
	text-align: center;
	font-size: 13px;
	background-color: #FFF;
	border: 5px solid #FFF;
	border-top: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;	
}

#footer {
    bottom: 0;
	height: 25px;
	width: 100%;
	position: fixed;	
}

.box {
	display: flex;
	justify-content: center;
}

.itemblue {
	width: 10px;
	height: 10px;
	background: #29BDE0;
	border-radius: 50%;
	margin: 3px 3px 10px 3px;
}

.itemgray {
	width: 10px;
	height: 10px;
	background: #9A9A9A;
	border-radius: 50%;
	margin: 3px 3px 10px 3px;
}